@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-size: 15pt;
    margin: 0;
    padding: 0;
    font-family:"Poopins", sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container .countdownElement {
    position: fixed;
    font-weight: 400;
    z-index: 10;
    font-size: 2rem;
    font-family: "Poopins", sans-serif;
    color: #fff;
}

#c {
    padding-top: 5%;
}

.fireworks {
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

canvas {
    display: block;
    position: fixed;
    z-index: 30;
}

.credits {
    position: absolute;
    color: #fff;
    bottom: 10px;
    font-size: 12px;
    opacity: 50%;
}

.text_msg {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 60%;
}

#text {
    color:#F7F7F7DB;
    opacity:0%;
    font-family:"Poopins", sans-serif;
    font-size: 1.5rem;
    transition: ease-in-out .6s ;
}